textarea {
    outline: none;
    margin: 0 0 10px 100px;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 10px 0 10px 100px;
    font-size: 16px;
    color: pink;
}
